{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<div class="row single-post">
    <div class="single-post-card view-update {{ object.pk }}">
        <div class="header">
            <a href="{% url 'profile' object.author.pk %}">
                {% if object.author.profile_pic %}
                    <img class="picture-circle--medium" src="http://{{ request.META.HTTP_HOST }}/{{object.author.profile_pic.url}}">
                {% endif %}
                {{ object.author.username }}
            </a>
        </div>
        <div class="image__wrapper">
            <img class="card__main-image" src="http://{{ request.META.HTTP_HOST }}/{{object.image.url}}" width='1000', height='1000'>
        </div>
        <div class="comments-portion">
            <div class="likes-timestamp-row">
                <div class="likes">
                    {% if object.get_like_count %}
                        {{ object.get_like_count }} like{% if object.get_like_count > 1 %}s{% endif %}
                    {% endif %}
                </div>
                <div class="timestamp">
                    {{ object.posted_on|timesince }}
                </div>
            </div>
            <ul class="comment-list">
                {% for comment in object.comments.all %}
                <li class="comment-list__comment">
                    <a href="{% url 'profile' comment.user.pk %}" class="user">
                        {{ comment.user.username }}
                    </a>
                    <span class="comment">{{ comment.comment }}</span>
                </li>
                {% endfor %}
            </ul>
            <section class="input-row">
                <i class="fa {% if liked %}fa-heart{% else %}fa-heart-o{% endif %} submit-like" aria-hidden="true"></i>
                <div class="comment-input-wrapper">
                    <input class="add-comment" type="text" placeholder="Add a comment...">
                </div>
                <div class="hidden-data {{ object.pk }}" style="display: none;">
                    <span class="post-pk">{{ object.pk }}</span>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}